.footer{
    margin-top: -5rem;
    background-color: #000;
    color: $slight-dark-white;
    height: 15rem;

    .landing_page_joinforupdate_btn{
        background-color: var(--btn-color);
        border: none;
        border-radius: 3px;
        height: 30px;
        width: 9rem;
        margin-left: -10rem;
        color: white;
        font-size: 13px;
    }
    .landing_page_search_bnt{
        margin-top: 5rem;
        width: 20rem;
        height: 2.5rem;
        border-radius: 5px;
        outline: none;
        border: none;
        padding: 1.2rem;
      }
    
    .landing_page_joinforupdate_btn:hover{
        background-color:orange;
    }
    
    .footer-wrapper{
        padding: 2rem;
    }
    .footer_twobtn{
        margin-top: -4rem;
    }
}