$title: #1e0880;
$paragraph: #008000;
$background: #db6e6e;
$slight-dark-white: #F6FFDE;

:root{
    --primary-color: #0d6efd;
    --secondary-color: #0654c4;
    --secondary-color-deep: #200173;
    --tpg-primary-light: #c4d0ff;
    --btn-color:#514096;
}
